<p>calendar works!</p>


<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events$ | async"
    [activeDayIsOpen]="true"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [viewDate]="viewDate"
    [events]="events$ | async"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [viewDate]="viewDate"
    [events]="events$ | async"
  >
  </mwl-calendar-day-view>
</div>

<div>


      Calendar event name:
  <label>
    <input type="text" (input)="setCalendarEventName(eventName)" (change)="setCalendarEventName(eventName)">
  </label>


      <label>
      <input [matDatepicker]="basicDatepicker" (dateInput)="setCalendarEventStartDate($event.value)">
    </label>
<!--    <mat-datepicker-toggle [for]="basicDatepicker"></mat-datepicker-toggle>-->
<!--    <mat-datepicker #basicDatepicker></mat-datepicker>-->

<!--    <label>-->
<!--      <input [matDatepicker]="basicDatepicker" (dateInput)="setCalendarEventEndDate($event.value)">-->
<!--    </label>-->
<!--    <mat-datepicker-toggle [for]="basicDatepicker"></mat-datepicker-toggle>-->
<!--    <mat-datepicker #basicDatepicker></mat-datepicker>-->

    <button type="submit"
            style="margin: 10px"
            (click)="onCreateCalendarEventClick()"
            class="btn btn-info">Create calendar event
    </button>

</div>








